<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBos9mV91LY_dgns6vYxVMRWpy5YsskDVw</string>
	<key>GCM_SENDER_ID</key>
	<string>146128986333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudOperation</string>
	<key>PROJECT_ID</key>
	<string>crud-135da</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-135da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146128986333:ios:aa0d2ab5adb58c4ad6bb34</string>
</dict>
</plist>